.my-style{
    /* d-inline-block m-3 */
    display: inline-block;
    margin: 10px;
}

@media (max-width:855px){
    .my-style{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}